extends layout
block content
 h1= title
 form(id='umbrellaForm', action="/resource/umbrella", method="POST")
  div.form-group
    label.umbrellaAttr(for='color') umbrella color
    input#color(type='String', name='color')
  div.form-group
    label.umbrellaAttr(for='cost') umbrella Cost
    input#cost(type='number', name='cost')
  div.form-group
    label.umbrellaAttr(for='size') umbrella size
    input#size(type='String', name='size')
  input(type="submit")
 script.
  document.forms['umbrellaForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });